      <hr>
      <footer class="container" >
        <p>Luca Bicego - Università Studi di Milano - Progetto per Esame Programmazione Web e Mobile - 2017 2018</p>
      </footer>
</body>
<script src="js/jquery.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</html>